{% extends 'basic.html' %}
{% block title %}
ASSIGNMENTS
{% endblock title %}
{% block body %}

<div class="container mt-3" style="color: black; align-items: center;border: solid 2px black;padding-top: 5px;padding-bottom: 5px;border-radius: 8px; text-align: center;text-shadow: 0 0 3px #FF0000;">

  <h2> ASSIGNMENTS </h2>
  
  
  </div>
  <div class="mt-1" style="text-align: center; text-decoration: none;">
    
      
        
    <a class="btn btn-outline-danger" href="#ssc">SSC</a>
  
  
  
    <a class="btn btn-outline-danger" href="#cgv"style="border: solid 1px red;">CGV</a>
  
  
  
    <a class="btn btn-outline-danger"  href="#web"style="border: solid 1px red;">WEB</a>

    <a class="btn btn-outline-danger" href="#cc"style="border: solid 1px red;">CC</a>
    <a class="btn btn-outline-danger" href="#res"style="border: solid 1px red;">RES</a>
  
    

</div>
<br>

    
    
    <div class= "container mt-3">
      <div class="box-header with-border mt-4" id="ssc" >
        <h5><b><u> SYSTEM SOFTWARE &  COMPILERS(18CS61)</u></b></h5>
        <h6>Assignment-1</h6>
      </div>
      
<table class="table table-bordered table-striped dataTable">
  <tr>
  <th >Groups</th>
  <th>View</th>
  <th>Download</th>
  </tr>
  <tr>
  <td ROWSPAN="3">Group-1</td>
  <td><a href="https://drive.google.com/file/d/1aek_XI-uhj0tDR0fPo7-3YUK0-Hy7QAy/view?usp=sharing" >View</a></td>
  <td><a href="https://drive.google.com/file/d/1aek_XI-uhj0tDR0fPo7-3YUK0-Hy7QAy/view?usp=sharing" >Download</a></td>
  
  </tr>
  
  <tr>
    <td><a href="https://drive.google.com/file/d/1wSdg-EY5zl3aWbj0n1jkY2g3e0lhzEqa/view?usp=sharing" >View</a></td>
  <td><a href="https://drive.google.com/file/d/1wSdg-EY5zl3aWbj0n1jkY2g3e0lhzEqa/view?usp=sharing" >Download</a></td>
  
  </tr>
  <tr>
    <td><a href="https://drive.google.com/file/d/1vDY9uPxgkwT72lZ4J-5FiMsKep1Zx7HW/view?usp=sharing" >View</a></td>
    <td><a href="https://drive.google.com/file/d/1vDY9uPxgkwT72lZ4J-5FiMsKep1Zx7HW/view?usp=sharing" >Download</a></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-2</td>
      <td><a href="https://drive.google.com/file/d/1WRRx6GPgS-1BBrCOjPpm5bxvT54foph4/view?usp=sharing" >View</a></td>
      <td><a href="https://drive.google.com/file/d/1WRRx6GPgS-1BBrCOjPpm5bxvT54foph4/view?usp=sharing" >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="https://drive.google.com/file/d/1W9f5uGeMyHaWO2RlnRtxt0hcJ66Pudtf/view?usp=sharing" >View</a></td>
      <td><a href="https://drive.google.com/file/d/1W9f5uGeMyHaWO2RlnRtxt0hcJ66Pudtf/view?usp=sharing" >Download</a></td>
      
      </tr>
      <tr>
        <td><a href="https://drive.google.com/file/d/1MyHx-B2HZ6ruCvd7NIWAiOrYQjt3G2vC/view?usp=sharing" >View</a></td>
        <td><a href="https://drive.google.com/file/d/1MyHx-B2HZ6ruCvd7NIWAiOrYQjt3G2vC/view?usp=sharing" >Download</a></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-3</td>
          <td><a href="https://drive.google.com/file/d/1OsfELxgA307ehBN5QUmeorbgSwyL2153/view?usp=sharing" >View</a></td>
          <td><a href="https://drive.google.com/file/d/1OsfELxgA307ehBN5QUmeorbgSwyL2153/view?usp=sharing" >Download</a></td>
          
          </tr>
          
          <tr>
            <td><a href="https://drive.google.com/file/d/12NjMoX_Bxq49c8lChzfuBrLsbBY-cECf/view?usp=sharing" >View</a></td>
          <td><a href="https://drive.google.com/file/d/12NjMoX_Bxq49c8lChzfuBrLsbBY-cECf/view?usp=sharing" >Download</a></td>
          
          </tr>
          <tr>
            <td><a href="https://drive.google.com/file/d/1mPWP7HWIdNIcXvt-iv5Q2lTOnW6ypLRI/view?usp=sharing" >View</a></td>
            <td><a href="https://drive.google.com/file/d/1mPWP7HWIdNIcXvt-iv5Q2lTOnW6ypLRI/view?usp=sharing" >Download</a></td>
            
            </tr>
            <tr>
              <td ROWSPAN="3">Group-4</td>
              <td><a href="https://drive.google.com/file/d/19SOLoOEn24iMB5uo46ejh-fZOXp7wJyA/view?usp=sharing" >View</a></td>
              <td><a href="https://drive.google.com/file/d/19SOLoOEn24iMB5uo46ejh-fZOXp7wJyA/view?usp=sharing" >Download</a></td>
              
              </tr>
              
              <tr>
                <td><a href="#" >View</a></td>
              <td><a href="#" >Download</a></td>
              
              </tr>
              <tr>
                <td><a href="https://drive.google.com/file/d/1dRqELHt6sd1gXVPpJAMv3oo6PbUoJ0J4/view?usp=sharing" >View</a></td>
                <td><a href="https://drive.google.com/file/d/1dRqELHt6sd1gXVPpJAMv3oo6PbUoJ0J4/view?usp=sharing" >Download</a></td>
                
                </tr>
            
  </table>
      </div>

     
<div class= "container mt-3">
    <div class="box-header with-border mt-4" id="ssc" >
      <h6>Assignment-2</h6>
    </div>
    
    <table class="table table-bordered table-striped dataTable">
    <tr>
    <th >Groups</th>
    <th>View</th>
    <th>Download</th>
    </tr>
    <tr>
    <td ROWSPAN="3">Group-1</td>
    <td><a href="#" >View</a><br> <small>not updated</small></td>
    <td><a href="#" >Download</a><br><small>not updated</small></td>
    
    </tr>
    
    <tr>
    <td><a href="#" >View</a><br><small>not updated</small></td>
    <td><a href="#" >Download</a><br><small>not updated</small></td>
    
    </tr>
    <tr>
    <td><a href="#" >View</a><br><small>not updated</small></td>
    <td><a href="#" >Download</a><br><small>not updated</small></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-2</td>
      <td><a href="#" >View</a><br><small>not updated</small></td>
      <td><a href="#" >Download</a><br><small>not updated</small></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a><br><small>not updated</small></td>
      <td><a href="#" >Download</a><br><small>not updated</small></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a><br><small>not updated</small></td>
        <td><a href="#" >Download</a><br><small>not updated</small></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-3</td>
          <td><a href="#" >View</a><br><small>not updated</small></td>
          <td><a href="#" >Download</a><br><small>not updated</small></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a><br><small>not updated</small></td>
          <td><a href="#" >Download</a><br><small>not updated</small></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a><br><small>not updated</small></td>
            <td><a href="#" >Download</a><br><small>not updated</small></td>
            
            </tr>
            <tr>
              <td ROWSPAN="3">Group-4</td>
              <td><a href="#" >View</a><br><small>not updated</small></td>
              <td><a href="#" >Download</a><br><small>not updated</small></td>
              
              </tr>
              
              <tr>
                <td><a href="#" >View</a><br><small>not updated</small></td>
              <td><a href="#" >Download</a><br><small>not updated</small></td>
              
              </tr>
              <tr>
                <td><a href="#" >View</a><br><small>not updated</small></td>
                <td><a href="#" >Download</a><br><small>not updated</small></td>
                
                </tr>
            
    </table>
    </div>
       
<!--
    <div class= "container mt-3">
  <div class="box-header with-border mt-4" id="ssc" >
    <h6>Assignment-3</h6>
  </div>
  
<table class="table table-bordered table-striped dataTable">
  <tr>
  <th >Groups</th>
  <th>View</th>
  <th>Download</th>
  </tr>
  <tr>
  <td ROWSPAN="3">Group-1</td>
  <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  
  <tr>
    <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  <tr>
    <td><a href="#" >View</a></td>
    <td><a href="#" >Download</a></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-2</td>
      <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a></td>
        <td><a href="#" >Download</a></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-3</td>
          <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a></td>
            <td><a href="#" >Download</a></td>
            
            </tr>
            <tr>
              <td ROWSPAN="3">Group-4</td>
              <td><a href="#" >View</a></td>
              <td><a href="#" >Download</a></td>
              
              </tr>
              
              <tr>
                <td><a href="#" >View</a></td>
              <td><a href="#" >Download</a></td>
              
              </tr>
              <tr>
                <td><a href="#" >View</a></td>
                <td><a href="#" >Download</a></td>
                
                </tr>
                </table>
            

-->
  
</div>

<div class="container mt-3">
  <div class="box-header with-border mt-4" id="cgv" >
    <h5><b><u>COMPUTER GRAPHICS & VISUALISATION(18CS62)</u></b></h5>
    <h6>Assignment-1</h6>
  </div>
      
  <table class="table table-bordered table-striped dataTable">
    <tr>
    <th >Groups</th>
    <th>View</th>
    <th>Download</th>
    </tr>
    <tr>
    <td ROWSPAN="3">Group-1</td>
    <td><a href="https://drive.google.com/file/d/1lDXcD9pdfMwF_Y5tdd_wJfgCDon2572k/view?usp=sharing" >View</a></td>
    <td><a href="https://drive.google.com/file/d/1lDXcD9pdfMwF_Y5tdd_wJfgCDon2572k/view?usp=sharing" >Download</a></td>
    
    </tr>
    
    <tr>
      <td><a href="https://drive.google.com/file/d/1jP_geLcDp91zVvXB0lUw2WASj9uxF-ar/view?usp=sharing" >View</a></td>
    <td><a href="https://drive.google.com/file/d/1jP_geLcDp91zVvXB0lUw2WASj9uxF-ar/view?usp=sharing" >Download</a></td>
    
    </tr>
    <tr>
      <td><a href="https://drive.google.com/file/d/1OM1t14gpinMqw2125KYWfTZTNzfmXb_e/view?usp=sharing" >View</a></td>
      <td><a href="https://drive.google.com/file/d/1OM1t14gpinMqw2125KYWfTZTNzfmXb_e/view?usp=sharing" >Download</a></td>
      
      </tr>
      <tr>
        <td ROWSPAN="3">Group-2</td>
        <td><a href="https://drive.google.com/file/d/1cI9mE33Bdi-NDMWqjhzhWdZieCRU-VA-/view?usp=sharing" >View</a></td>
        <td><a href="https://drive.google.com/file/d/1cI9mE33Bdi-NDMWqjhzhWdZieCRU-VA-/view?usp=sharing" >Download</a></td>
        
        </tr>
        
        <tr>
          <td><a href="https://drive.google.com/file/d/1j7HKjSRsKq3O-KCXNjoXaLOAyu8IwyGk/view?usp=sharing" >View</a></td>
        <td><a href="https://drive.google.com/file/d/1j7HKjSRsKq3O-KCXNjoXaLOAyu8IwyGk/view?usp=sharing" >Download</a></td>
        
        </tr>
        <tr>
          <td><a href="https://drive.google.com/file/d/1u_6qE3Oo_e0I3D1NMUxd3tmtj6sVjd9L/view?usp=sharing" >View</a></td>
          <td><a href="https://drive.google.com/file/d/1u_6qE3Oo_e0I3D1NMUxd3tmtj6sVjd9L/view?usp=sharing" >Download</a></td>
          
          </tr>
          <tr>
            <td ROWSPAN="3">Group-3</td>
            <td><a href="https://drive.google.com/file/d/1eCYKxNJLM42DIdWsV2vE4ltXppudC1zL/view?usp=sharing" >View</a></td>
            <td><a href="https://drive.google.com/file/d/1eCYKxNJLM42DIdWsV2vE4ltXppudC1zL/view?usp=sharing" >Download</a></td>
            
            </tr>
            
            <tr>
              <td><a href="https://drive.google.com/file/d/1IsNWN1Wve5Td34dCnHLiOIZlnFfkABw9/view?usp=sharing" >View</a></td>
            <td><a href="https://drive.google.com/file/d/1IsNWN1Wve5Td34dCnHLiOIZlnFfkABw9/view?usp=sharing" >Download</a></td>
            
            </tr>
            <tr>
              <td><a href="" >View</a></td>
              <td><a href="" >Download</a></td>
              
              </tr>
              <tr>
                <td ROWSPAN="3">Group-4</td>
                <td><a href="https://drive.google.com/file/d/1Cj3Kqyov_6B1LtubG0N5ge3wKCIOnqR0/view?usp=sharing" >View</a></td>
                <td><a href="https://drive.google.com/file/d/1Cj3Kqyov_6B1LtubG0N5ge3wKCIOnqR0/view?usp=sharing" >Download</a></td>
                
                </tr>
                
                <tr>
                  <td><a href="https://drive.google.com/file/d/14tshkvCvLCXKEc8iuCSO5322dYfAUBIx/view?usp=sharing" >View</a></td>
                <td><a href="https://drive.google.com/file/d/14tshkvCvLCXKEc8iuCSO5322dYfAUBIx/view?usp=sharing" >Download</a></td>
                
                </tr>
                <tr>
                  <td><a href="#" >View</a></td>
                  <td><a href="#" >Download</a></td>
                  
                  </tr>
              
    </table>
        </div>
 
        
<div class= "container mt-3">
    <div class="box-header with-border mt-4" id="ssc" >
      <h6>Assignment-2</h6>
    </div>
    
    <table class="table table-bordered table-striped dataTable">
    <tr>
    <th >Groups</th>
    <th>View</th>
    <th>Download</th>
    </tr>
    <tr>
    <td ROWSPAN="3">Group-1</td>
    <td><a href="https://drive.google.com/file/d/1yW1KIGBOxccNQwz320OQslTiSvVrQJMm/view?usp=sharing" >View</a></td>
    <td><a href="https://drive.google.com/file/d/1yW1KIGBOxccNQwz320OQslTiSvVrQJMm/view?usp=sharing"download >Download</a></td>
    
    </tr>
    
    <tr>
    <td><a href="#" >View</a><br><small>not updated</small></td>
    <td><a href="#" >Download</a><br><small>not updated</small></td>
    
    </tr>
    <tr>
    <td><a href="#" >View</a><br><small>not updated</small></td>
    <td><a href="#" >Download</a><br><small>not updated</small></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-2</td>
      <td><a href="https://drive.google.com/file/d/1_XiWmpEh1iBQWbasfRyGBOxJaKJJd66l/view?usp=sharing" >View</a></td>
      <td><a href="https://drive.google.com/file/d/1_XiWmpEh1iBQWbasfRyGBOxJaKJJd66l/view?usp=sharing" >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a><br><small>not updated</small></td>
      <td><a href="#" >Download</a><br><small>not updated</small></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a><br><small>not updated</small></td>
        <td><a href="#" >Download</a><br><small>not updated</small></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-3</td>
          <td><a href="#" >View</a><br><small>not updated</small></td>
          <td><a href="#" >Download</a><br><small>not updated</small></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a><br><small>not updated</small></td>
          <td><a href="#" >Download</a><br><small>not updated</small></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a><br><small>not updated</small></td>
            <td><a href="#" >Download</a><br><small>not updated</small></td>
            
            </tr>
            <tr>
              <td ROWSPAN="3">Group-4</td>
              <td><a href="https://drive.google.com/file/d/11rR2wzlUPTD_VyCC2h74cwFC8Nb2SJnN/view?usp=sharing" >View</a></td>
              <td><a href="https://drive.google.com/file/d/11rR2wzlUPTD_VyCC2h74cwFC8Nb2SJnN/view?usp=sharing" >Download</a></td>
              
              </tr>
              
              <tr>
                <td><a href="" >View</a><br><small>not updated</small></td>
              <td><a href="" >Download</a><br><small>not updated</small></td>
              
              </tr>
              <tr>
                <td><a href="#" >View</a><br><small>not updated</small></td>
                <td><a href="#" >Download</a><br><small>not updated</small></td>
                
                </tr>
            
    </table>
    </div>
    
            
        <!--
  <div class= "container mt-3">
<div class="box-header with-border mt-4" id="ssc" >
<h6>Assignment-3</h6>
</div>

<table class="table table-bordered table-striped dataTable">
<tr>
<th >Groups</th>
<th>View</th>
<th>Download</th>
</tr>
<tr>
<td ROWSPAN="3">Group-1</td>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>

<tr>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>
<tr>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>
<tr>
  <td ROWSPAN="3">Group-2</td>
  <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  
  <tr>
    <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  <tr>
    <td><a href="#" >View</a></td>
    <td><a href="#" >Download</a></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-3</td>
      <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a></td>
        <td><a href="#" >Download</a></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-4</td>
          <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a></td>
            <td><a href="#" >Download</a></td>
            
            </tr>
        
</table>
</div>

-->



<div class="container mt-3">
  <div class="box-header with-border mt-4" id="web" >
    <h5><b><u>WEB & IT'S APPLICATIONS(18CS63)</u></b></h5>
      <h6>Assignment-1</h6>
  </div>
  
<table class="table table-bordered table-striped dataTable">
<tr>
<th >Groups</th>
<th>View</th>
<th>Download</th>
</tr>
<tr>
<td ROWSPAN="3">Group-1</td>
<td><a href="https://drive.google.com/file/d/1yCsAQQLT1F8IiUfKNoxazC77_RtNnv8y/view?usp=sharing" >View</a></td>
<td><a href="https://drive.google.com/file/d/1yCsAQQLT1F8IiUfKNoxazC77_RtNnv8y/view?usp=sharing" >Download</a></td>

</tr>

<tr>
<td><a href="https://drive.google.com/file/d/16Yf91H66vM-Mpds2O5iz_bHwDPfMKqf8/view?usp=sharing" >View</a></td>
<td><a href="https://drive.google.com/file/d/16Yf91H66vM-Mpds2O5iz_bHwDPfMKqf8/view?usp=sharing" >Download</a></td>

</tr>
<tr>
<td><a href="https://drive.google.com/file/d/129WcQdobrEsO_a_xCcqpcDTFw7JOHJkL/view?usp=sharing" >View</a></td>
<td><a href="https://drive.google.com/file/d/129WcQdobrEsO_a_xCcqpcDTFw7JOHJkL/view?usp=sharing" >Download</a></td>

</tr>
<tr>
  <td ROWSPAN="3">Group-2</td>
  <td><a href="https://drive.google.com/file/d/1lNaEtnR_seY5FGiuakdn4qYpuX0hHGL5/view?usp=sharing" >View</a></td>
  <td><a href="https://drive.google.com/file/d/1lNaEtnR_seY5FGiuakdn4qYpuX0hHGL5/view?usp=sharing" >Download</a></td>
  
  </tr>
  
  <tr>
    <td><a href="https://drive.google.com/file/d/1WaJHBwkeHf5OGX3q2kn5yAZ7ZgSYi9NE/view?usp=sharing" >View</a></td>
  <td><a href="https://drive.google.com/file/d/1WaJHBwkeHf5OGX3q2kn5yAZ7ZgSYi9NE/view?usp=sharing" >Download</a></td>
  
  </tr>
  <tr>
    <td><a href="https://drive.google.com/file/d/1dyxR7i7Am93DJiOBP_13EE1uNNz2Yyu4/view?usp=sharing" >View</a></td>
    <td><a href="https://drive.google.com/file/d/1dyxR7i7Am93DJiOBP_13EE1uNNz2Yyu4/view?usp=sharing" >Download</a></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-3</td>
      <td><a href="https://drive.google.com/file/d/1hFlGotg8QSvVn1E-Sp5frnQQ1O5uXlRL/view?usp=sharing" >View</a></td>
      <td><a href="https://drive.google.com/file/d/1hFlGotg8QSvVn1E-Sp5frnQQ1O5uXlRL/view?usp=sharing" >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="https://drive.google.com/file/d/1UJLrohQ1xwOVGHCkRo19X-Y_5jKH8c1n/view?usp=sharing" >View</a></td>
      <td><a href="https://drive.google.com/file/d/1UJLrohQ1xwOVGHCkRo19X-Y_5jKH8c1n/view?usp=sharing" >Download</a></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a></td>
        <td><a href="#" >Download</a></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-4</td>
          <td><a href="https://drive.google.com/file/d/125kCicvtL9BFzSBfoXMJUsRJWopujAt4/view?usp=sharing" >View</a></td>
          <td><a href="https://drive.google.com/file/d/125kCicvtL9BFzSBfoXMJUsRJWopujAt4/view?usp=sharing" >Download</a></td>
          
          </tr>
          
          <tr>
            <td><a href="https://drive.google.com/file/d/1vNDoz-ZxovE6EliRp2GRE8kYHCV7k5hC/view?usp=sharing" >View</a></td>
          <td><a href="https://drive.google.com/file/d/1vNDoz-ZxovE6EliRp2GRE8kYHCV7k5hC/view?usp=sharing" >Download</a></td>
          
          </tr>
          <tr>
            <td><a href="https://drive.google.com/file/d/1WVqfrU6LzxJ6F9MkkPXbv1cXKyi-QG3B/view?usp=sharing" >View</a></td>
            <td><a href="https://drive.google.com/file/d/1WVqfrU6LzxJ6F9MkkPXbv1cXKyi-QG3B/view?usp=sharing" >Download</a></td>
            
            </tr>
        
</table>
  </div>

  
<div class= "container mt-3">
    <div class="box-header with-border mt-4" id="ssc" >
      <h6>Assignment-2</h6>
    </div>
    
    <table class="table table-bordered table-striped dataTable">
    <tr>
    <th >Groups</th>
    <th>View</th>
    <th>Download</th>
    </tr>
    <tr>
    <td ROWSPAN="3">Group-1</td>
    <td><a href="#" >View</a><br> <small>not updated</small></td>
    <td><a href="#" >Download</a><br><small>not updated</small></td>
    
    </tr>
    
    <tr>
    <td><a href="https://drive.google.com/file/d/1KsHqs6kV0E65YlvUIgWG1FI4Yxrm7pXX/view?usp=sharing" >View</a></td>
    <td><a href="https://drive.google.com/file/d/1KsHqs6kV0E65YlvUIgWG1FI4Yxrm7pXX/view?usp=sharing"download >Download</a></td>
    
    </tr>
    <tr>
    <td><a href="#" >View</a><br><small>not updated</small></td>
    <td><a href="#" >Download</a><br><small>not updated</small></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-2</td>
      <td><a href="https://drive.google.com/file/d/1ZuqYqBPUpJHc_oH1Rc63zwkGxl0BqSSP/view?usp=sharing" >View</a></td>
      <td><a href="https://drive.google.com/file/d/1ZuqYqBPUpJHc_oH1Rc63zwkGxl0BqSSP/view?usp=sharing"download >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a><br><small>not updated</small></td>
      <td><a href="#" >Download</a><br><small>not updated</small></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a><br><small>not updated</small></td>
        <td><a href="#" >Download</a><br><small>not updated</small></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-3</td>
          <td><a href="#" >View</a><br><small>not updated</small></td>
          <td><a href="#" >Download</a><br><small>not updated</small></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a><br><small>not updated</small></td>
          <td><a href="#" >Download</a><br><small>not updated</small></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a><br><small>not updated</small></td>
            <td><a href="#" >Download</a><br><small>not updated</small></td>
            
            </tr>
            <tr>
              <td ROWSPAN="3">Group-4</td>
              <td><a href="#" >View</a><br><small>not updated</small></td>
              <td><a href="#" >Download</a><br><small>not updated</small></td>
              
              </tr>
              
              <tr>
                <td><a href="#" >View</a><br><small>not updated</small></td>
              <td><a href="#" >Download</a><br><small>not updated</small></td>
              
              </tr>
              <tr>
                <td><a href="#" >View</a><br><small>not updated</small></td>
                <td><a href="#" >Download</a><br><small>not updated</small></td>
                
                </tr>
            
    </table>
    </div>
      
<!--
  <div class= "container mt-3">
<div class="box-header with-border mt-4" id="ssc" >
<h6>Assignment-3</h6>
</div>

<table class="table table-bordered table-striped dataTable">
<tr>
<th >Groups</th>
<th>View</th>
<th>Download</th>
</tr>
<tr>
<td ROWSPAN="3">Group-1</td>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>

<tr>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>
<tr>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>
<tr>
  <td ROWSPAN="3">Group-2</td>
  <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  
  <tr>
    <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  <tr>
    <td><a href="#" >View</a></td>
    <td><a href="#" >Download</a></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-3</td>
      <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a></td>
        <td><a href="#" >Download</a></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-4</td>
          <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a></td>
            <td><a href="#" >Download</a></td>
            
            </tr>
        
</table>
</div>

-->




<div class="container mt-3">
  <div class="box-header with-border mt-4" id="cc">
    <h5><b><u>CLOUD COMPUTING(18CS64)</u></b></h5>
       <h6>Assignment-1</h6>
      </div>
      
      <table class="table table-bordered table-striped dataTable">
        <tr>
        <th >Groups</th>
        <th>View</th>
        <th>Download</th>
        </tr>
        <tr>
        <td ROWSPAN="3">Group-1</td>
        <td><a href="https://drive.google.com/file/d/18m0Tc_trd6XScTIQtbY3JdHwHj5Vrn7a/view?usp=sharing" >View</a></td>
        <td><a href="https://drive.google.com/file/d/18m0Tc_trd6XScTIQtbY3JdHwHj5Vrn7a/view?usp=sharing" >Download</a></td>
        
        </tr>
        
        <tr>
          <td><a href="https://drive.google.com/file/d/17RoLrbAJ0DDbp-e63ivZi2TBKCKBRr3A/view?usp=sharing" >View</a></td>
        <td><a href="https://drive.google.com/file/d/17RoLrbAJ0DDbp-e63ivZi2TBKCKBRr3A/view?usp=sharing" >Download</a></td>
        
        </tr>
        <tr>
          <td><a href="https://drive.google.com/file/d/1GSJSzuMi92yAfOdE2PQzv7eRpk3t1eQX/view?usp=sharing" >View</a></td>
          <td><a href="https://drive.google.com/file/d/1GSJSzuMi92yAfOdE2PQzv7eRpk3t1eQX/view?usp=sharing" >Download</a></td>
          
          </tr>
          <tr>
            <td ROWSPAN="3">Group-2</td>
            <td><a href="https://drive.google.com/file/d/1-YMtysfySJRMszUPRtcLGsNY4kTLiVJr/view?usp=sharing" >View</a></td>
            <td><a href="https://drive.google.com/file/d/1-YMtysfySJRMszUPRtcLGsNY4kTLiVJr/view?usp=sharing" >Download</a></td>
            
            </tr>
            
            <tr>
              <td><a href="https://drive.google.com/file/d/1gyZKUf2DLv-Nzwm-uJSS0NTVznW8FR0f/view?usp=sharing" >View</a></td>
            <td><a href="https://drive.google.com/file/d/1gyZKUf2DLv-Nzwm-uJSS0NTVznW8FR0f/view?usp=sharing" >Download</a></td>
            
            </tr>
            <tr>
              <td><a href="https://drive.google.com/file/d/1WUIClErD2L8TUfu_IYkXVnH_W-YblQXx/view?usp=sharing" >View</a></td>
              <td><a href="https://drive.google.com/file/d/1WUIClErD2L8TUfu_IYkXVnH_W-YblQXx/view?usp=sharing" >Download</a></td>
              
              </tr>
              <tr>
                <td ROWSPAN="3">Group-3</td>
                <td><a href="https://drive.google.com/file/d/1RBjqw4BHLmX-6NptLU75Q_ptGcZO0dlF/view?usp=sharing" >View</a></td>
                <td><a href="https://drive.google.com/file/d/1RBjqw4BHLmX-6NptLU75Q_ptGcZO0dlF/view?usp=sharing" >Download</a></td>
                
                </tr>
                
                <tr>
                  <td><a href="https://drive.google.com/file/d/1gJX8rROwxGlTUA_lwvoPA_d27onEsvbn/view?usp=sharing" >View</a></td>
                <td><a href="https://drive.google.com/file/d/1gJX8rROwxGlTUA_lwvoPA_d27onEsvbn/view?usp=sharing" >Download</a></td>
                
                </tr>
                <tr>
                  <td><a href="https://drive.google.com/file/d/1ET3JQvNigcq9qG2q0waYGTUTao-ZbSm6/view?usp=sharing" >View</a></td>
                  <td><a href="https://drive.google.com/file/d/1ET3JQvNigcq9qG2q0waYGTUTao-ZbSm6/view?usp=sharing" >Download</a></td>
                  
                  </tr>
                  <tr>
                    <td ROWSPAN="3">Group-4</td>
                    <td><a href="https://drive.google.com/file/d/1ioWrxwhz_LxBq-aNZQg98ggp2CCIXixn/view?usp=sharing" >View</a></td>
                    <td><a href="https://drive.google.com/file/d/1ioWrxwhz_LxBq-aNZQg98ggp2CCIXixn/view?usp=sharing" >Download</a></td>
                    
                    </tr>
                    
                    <tr>
                      <td><a href="https://drive.google.com/file/d/1alMw5BJtBjuNGZtoHuN9Ie_ott3z0Fjq/view?usp=sharing" >View</a></td>
                    <td><a href="https://drive.google.com/file/d/1alMw5BJtBjuNGZtoHuN9Ie_ott3z0Fjq/view?usp=sharing" >Download</a></td>
                    
                    </tr>
                    <tr>
                      <td><a href="https://drive.google.com/file/d/1m6BUblTNF-prJICdixCTWK-iuRkpHALg/view?usp=sharing" >View</a></td>
                      <td><a href="https://drive.google.com/file/d/1m6BUblTNF-prJICdixCTWK-iuRkpHALg/view?usp=sharing" >Download</a></td>
                      
                      </tr>
                  
        </table>
            </div>




            <div class="container mt-3">
              <div class="box-header with-border mt-4"  >
                
              <h6>Assignment-2</h6>
              </div>
              
            <table class="table table-bordered table-striped dataTable">
            <tr>
            <th >Groups</th>
            <th>View</th>
            <th>Download</th>
            </tr>
            <tr>
            <td ROWSPAN="3">Group-1,2,3,4</td>
            <td><a href="#" >View</a><br> <small>not updated</small> </td>
            <td><a href="#">Download</a> <br> <small>not updated</small> </td>
            
            </tr>
            
            <tr>
            <td><a href="#" >View</a><br> <small>not updated</small> </td>
            <td><a href="#" >Download</a> <br> <small>not updated</small> </td>
            
            </tr>
            <tr>
            <td><a href="#" >View</a><br><small>not updated</small></td>
            <td><a href="#" download >Download</a><br><small>not updated</small></td>
            
            </tr>

          </table>
            </div>
<!-- <div class= "container mt-3">
<div class="box-header with-border mt-4" id="ssc" >
  <h6>Assignment-2</h6>
</div>

<table class="table table-bordered table-striped dataTable">
<tr>
<th >Groups</th>
<th>View</th>
<th>Download</th>
</tr>
<tr>
<td ROWSPAN="3">Group-1</td>
<td><a href="#" >View</a><br> <small>not updated</small></td>
<td><a href="#" >Download</a><br><small>not updated</small></td>

</tr>

<tr>
<td><a href="#" >View</a><br><small>not updated</small></td>
<td><a href="#" >Download</a><br><small>not updated</small></td>

</tr>
<tr>
<td><a href="#" >View</a><br><small>not updated</small></td>
<td><a href="#" >Download</a><br><small>not updated</small></td>

</tr>
<tr>
  <td ROWSPAN="3">Group-2</td>
  <td><a href="#" >View</a><br><small>not updated</small></td>
  <td><a href="#" >Download</a><br><small>not updated</small></td>
  
  </tr>
  
  <tr>
    <td><a href="#" >View</a><br><small>not updated</small></td>
  <td><a href="#" >Download</a><br><small>not updated</small></td>
  
  </tr>
  <tr>
    <td><a href="#" >View</a><br><small>not updated</small></td>
    <td><a href="#" >Download</a><br><small>not updated</small></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-3</td>
      <td><a href="#" >View</a><br><small>not updated</small></td>
      <td><a href="#" >Download</a><br><small>not updated</small></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a><br><small>not updated</small></td>
      <td><a href="#" >Download</a><br><small>not updated</small></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a><br><small>not updated</small></td>
        <td><a href="#" >Download</a><br><small>not updated</small></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-4</td>
          <td><a href="#" >View</a><br><small>not updated</small></td>
          <td><a href="#" >Download</a><br><small>not updated</small></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a><br><small>not updated</small></td>
          <td><a href="#" >Download</a><br><small>not updated</small></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a><br><small>not updated</small></td>
            <td><a href="#" >Download</a><br><small>not updated</small></td>
            
            </tr>
        
</table>
</div> -->

<!--
  <div class= "container mt-3">
<div class="box-header with-border mt-4" id="ssc" >
<h6>Assignment-3</h6>
</div>

<table class="table table-bordered table-striped dataTable">
<tr>
<th >Groups</th>
<th>View</th>
<th>Download</th>
</tr>
<tr>
<td ROWSPAN="3">Group-1</td>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>

<tr>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>
<tr>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>
<tr>
  <td ROWSPAN="3">Group-2</td>
  <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  
  <tr>
    <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  <tr>
    <td><a href="#" >View</a></td>
    <td><a href="#" >Download</a></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-3</td>
      <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a></td>
        <td><a href="#" >Download</a></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-4</td>
          <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a></td>
            <td><a href="#" >Download</a></td>
            
            </tr>
        
</table>
</div>

-->


<div class="container mt-3">
  <div class="box-header with-border mt-4" id="res" >
    <h5><b><u>RENEWABLE ENERGY RESOURCES(18CS65)</u></b></h5>
  <h6>Assignment-1</h6>
  </div>
  
<table class="table table-bordered table-striped dataTable">
<tr>
<th >Groups</th>
<th>View</th>
<th>Download</th>
</tr>
<tr>
<td ROWSPAN="3">Group-1,2,3,4</td>
<td><a href="https://drive.google.com/file/d/1lnD2kbh8wvHiRspuX0NGfdsO3ZUZ_D_A/view?usp=sharing" >View</a></td>
<td><a href="https://drive.google.com/file/d/1lnD2kbh8wvHiRspuX0NGfdsO3ZUZ_D_A/view?usp=sharing"download >Download</a></td>

</tr>

<tr>
<td><a href="https://drive.google.com/file/d/1BcHii3sMNlepanINTC0RhLxByBXRz0ed/view?usp=sharing" >View</a></td>
<td><a href="https://drive.google.com/file/d/1BcHii3sMNlepanINTC0RhLxByBXRz0ed/view?usp=sharing" download>Download</a></td>

</tr>
<tr>
<td><a href="https://drive.google.com/file/d/1CaBbzInlKcyf4KxUSH-DrZIEAqDdkd6M/view?usp=sharing" >View</a></td>
<td><a href="https://drive.google.com/file/d/1CaBbzInlKcyf4KxUSH-DrZIEAqDdkd6M/view?usp=sharing" download >Download</a></td>

</tr>

</table>
</div>

<div class="container mt-3">
  <div class="box-header with-border mt-4" >
  <h6>Assignment-2</h6>
  </div>
  
<table class="table table-bordered table-striped dataTable">
<tr>
<th >Groups</th>
<th>View</th>
<th>Download</th>
</tr>
<tr>
<td ROWSPAN="3">Group-1,2,3,4</td>
<td><a href="https://drive.google.com/file/d/10StIXsbeyaJdmHl2f8gBs__M6tDze0y1/view?usp=sharing" >View</a></td>
<td><a href="https://drive.google.com/file/d/10StIXsbeyaJdmHl2f8gBs__M6tDze0y1/view?usp=sharing"download >Download</a></td>

</tr>

<tr>
<td><a href="#" >View</a><br> <small>not updated</small></td>
<td><a href="#">Download</a><br> <small>not updated</small></td>

</tr>
<tr>
<td><a href="#" >View</a><br> <small>not updated</small></td>
<td><a href="#"  >Download</a><br> <small>not updated</small></td>

</tr>

</table>
</div>
<!--
    <tr>
  <td ROWSPAN="3">Group-2</td>
  <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  
  <tr>
    <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  <tr>
    <td><a href="#" >View</a></td>
    <td><a href="#" >Download</a></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-3</td>
      <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a></td>
        <td><a href="#" >Download</a></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-4</td>
          <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a></td>
            <td><a href="#" >Download</a></td>
            
            </tr>
        

-->
</table>
  </div>
<!--
    <div class= "container mt-3">
<div class="box-header with-border mt-4" id="ssc" >
  <h6>Assignment-2</h6>
</div>

<table class="table table-bordered table-striped dataTable">
<tr>
<th >Groups</th>
<th>View</th>
<th>Download</th>
</tr>
<tr>
<td ROWSPAN="3">Group-1</td>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>

<tr>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>
<tr>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>
<tr>
  <td ROWSPAN="3">Group-2</td>
  <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  
  <tr>
    <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  <tr>
    <td><a href="#" >View</a></td>
    <td><a href="#" >Download</a></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-3</td>
      <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a></td>
        <td><a href="#" >Download</a></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-4</td>
          <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a></td>
            <td><a href="#" >Download</a></td>
            
            </tr>
        
</table>
</div>

<div class= "container mt-3">
<div class="box-header with-border mt-4" id="ssc" >
<h6>Assignment-3</h6>
</div>

<table class="table table-bordered table-striped dataTable">
<tr>
<th >Groups</th>
<th>View</th>
<th>Download</th>
</tr>
<tr>
<td ROWSPAN="3">Group-1</td>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>

<tr>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>
<tr>
<td><a href="#" >View</a></td>
<td><a href="#" >Download</a></td>

</tr>
<tr>
  <td ROWSPAN="3">Group-2</td>
  <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  
  <tr>
    <td><a href="#" >View</a></td>
  <td><a href="#" >Download</a></td>
  
  </tr>
  <tr>
    <td><a href="#" >View</a></td>
    <td><a href="#" >Download</a></td>
    
    </tr>
    <tr>
      <td ROWSPAN="3">Group-3</td>
      <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      
      <tr>
        <td><a href="#" >View</a></td>
      <td><a href="#" >Download</a></td>
      
      </tr>
      <tr>
        <td><a href="#" >View</a></td>
        <td><a href="#" >Download</a></td>
        
        </tr>
        <tr>
          <td ROWSPAN="3">Group-4</td>
          <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          
          <tr>
            <td><a href="#" >View</a></td>
          <td><a href="#" >Download</a></td>
          
          </tr>
          <tr>
            <td><a href="#" >View</a></td>
            <td><a href="#" >Download</a></td>
            
            </tr>
        
</table>

-->
</div>













  
 













  <style>
    table, td, th {
      border: 1px solid black;
      text-align: center;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
/* 
    .btn {
  background-color: crimson;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {opacity: 1} */

    </style>
{% endblock body %}