{% extends 'basic.html' %}
{% block title %}
NOTES
{% endblock title %}
Notes
{% block body %}

<div class="container mt-3" style="color: black; align-items: center;border: solid 2px black;padding-top: 5px;padding-bottom: 5px;border-radius: 8px; text-align: center;text-shadow: 0 0 3px #FF0000;">

<h2> NOTES </h2>


</div>

<div class="mt-1" style="text-align: center; text-decoration: none;">
    
      
        
          <a class="  btn btn-outline-danger" href="#ssc" style="border: solid 1px red;" >SSC</a>
        
        
        
          <a class="btn btn-outline-danger" href="#cgv"style="border: solid 1px red;">CGV</a>
        
        
        
          <a class="btn btn-outline-danger"  href="#web"style="border: solid 1px red;">WEB</a>

          <a class="btn btn-outline-danger" href="#cc"style="border: solid 1px red;">CC</a>
          <a class="btn btn-outline-danger" href="#res"style="border: solid 1px red;">RES</a>
        
          
      
</div>
<br>





<div class="container mt-3">
   
                    
                
                        <div class="box-header with-border" id="ssc" >
                            <h5><b><u> SYSTEM SOFTWARE &  COMPILERS(18CS61)</u></b></h5>
                        </div>
                        <div class="form-group">
                        
                        
                            
                    
                    
                    
                    
                    
                    <table class="table table-bordered table-striped dataTable" id="statustable">
                                   <thead>
                                     <tr>                    
                                        <th>Sl.No.</th>
                                        
                                        
                                        <th>MODULE</th>
                                        <th>Action</th>
                                       
                                     </tr>
                                   </thead>
                                   <tbody>
                                    
                                    
                                    <tr>
                                        <td>
                                            1
                                            
                                        </td>
                                        <td>
                                           MODULE-1
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/17DOrlZgU-j56tD9Rdr0g58v-B9ymqw9B/view?usp=sharing" download>Download</a><br>
                        
                                            <a href="https://drive.google.com/file/d/17DOrlZgU-j56tD9Rdr0g58v-B9ymqw9B/view?usp=sharing"> view</a><br>
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                            
                                        </td>
                                        <td>
                                           MODULE-2,3
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1csQoq8aKUWwqJoKdyjePJ8Gz6iz9mie1/view?usp=sharing" >Download</a><br>
                                            
                                            <a href="https://drive.google.com/file/d/1csQoq8aKUWwqJoKdyjePJ8Gz6iz9mie1/view?usp=sharing"> view</a><br>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                            
                                        </td>
                                        <td>
                                           MODULE-3(Lexical Analysis)
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/12EGETPUMfTX0k-acJIKCDOAwrtWYzcbX/view?usp=sharing"download>Download</a><br>
                                        
                                            <a href="https://drive.google.com/file/d/12EGETPUMfTX0k-acJIKCDOAwrtWYzcbX/view?usp=sharing"> view</a><br>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                            
                                        </td>
                                        <td>
                                           MODULE-4
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1jgeQARGL7YicCY8dfLfEXjZny1Dm5y1j/view?usp=sharing"download >Download</a><br>
                                            
                                            <a href="https://drive.google.com/file/d/1jgeQARGL7YicCY8dfLfEXjZny1Dm5y1j/view?usp=sharing"> view</a><br>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                            
                                        </td>
                                        <td>
                                          MODULE-5
                                        </td>
                                       
                                        <td>
                                            <a href="" >Download</a><br>
                                            
                                            <a href="#"> view</a><br>
                                            <small>not updated</small>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>

                      
                        
                        
                        <div class="mt-1" id="cgv" >
   
                    
                
                        <div class="box-header with-border" id="cgv" >
                            <h5><u><b>COMPUTER GRAPHICS & VISUALISATION(18CS62)</b></u></h5>
                        </div>
                        <div class="form-group">
                        
                        
                            
                    
                    
                    
                    
                    
                    <table class="table table-bordered table-striped dataTable" id="statustable">
                                   <thead>
                                     <tr>                    
                                        <th>Sl.No.</th>
                                        
                                        
                                        <th>MODULE</th>
                                        <th>Action</th>
                                       
                                     </tr>
                                   </thead>
                                   <tbody>
                                    
                                    
                                    <tr>
                                        <td>
                                            1
                                            
                                        </td>
                                        <td>
                                           MODULE-1
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1ufTsy3MWtmnHbEzuC_MVSbDpPp_jGCGY/view?usp=sharing" download>Download</a><br>
                                        
                                            <a href="https://drive.google.com/file/d/1ufTsy3MWtmnHbEzuC_MVSbDpPp_jGCGY/view?usp=sharing"> view</a><br>
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                            
                                        </td>
                                        <td>
                                           MODULE-2
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1Nicx9D_nIx1ejwwlLP5IquIXuGmiWItM/view?usp=sharing" download>Download</a><br>
                                    
                                            <a href="https://drive.google.com/file/d/1Nicx9D_nIx1ejwwlLP5IquIXuGmiWItM/view?usp=sharing"> view</a><br>
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                            
                                        </td>
                                        <td>
                                           MODULE-3
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/10vaYLUPrARB_D-d0NkZLSSVMxSVI2KcV/view?usp=sharing" download >Download</a><br>
                                            
                                            <a href="https://drive.google.com/file/d/10vaYLUPrARB_D-d0NkZLSSVMxSVI2KcV/view?usp=sharing"> view</a><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                            
                                        </td>
                                        <td>
                                           MODULE-4
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1gLoXHrPfNDeXw16_fIPDal6ad4EYyh6b/view?usp=sharing" download >Download</a><br>
                                            
                                            <a href="https://drive.google.com/file/d/1gLoXHrPfNDeXw16_fIPDal6ad4EYyh6b/view?usp=sharing"> view</a><br>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                            
                                        </td>
                                        <td>
                                          MODULE-5
                                        </td>
                                       
                                        <td>
                                            <a href="" >Download</a><br>
                                            
                                            <a href="#"> view</a><br>
                                            <small>not updated</small>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        

                    
                        <div class="box-header with-border" id="web" >
                            <h5><b><u>WEB & IT'S APPLICATIONS(18CS63)</u></b></h5>
                        </div>
                        <div class="form-group">
                        
                        
                            
                    
                    
                    
                    
                    
                    <table class="table table-bordered table-striped dataTable" id="statustable">
                                   <thead>
                                     <tr>                    
                                        <th>Sl.No.</th>
                                        
                                        
                                        <th>MODULE</th>
                                        <th>Action</th>
                                       
                                     </tr>
                                   </thead>
                                   <tbody>
                                    
                                    
                                    <tr>
                                        <td>
                                            1
                                            
                                        </td>
                                        <td>
                                           MODULE-1
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1lngC9_spPMiHKBUvotTpnjpdkuRsmC7o/view?usp=sharing" download>Download</a><br>
                                        
                                            <a href="https://drive.google.com/file/d/1lngC9_spPMiHKBUvotTpnjpdkuRsmC7o/view?usp=sharing"> view</a><br>
                                
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                            
                                        </td>
                                        <td>
                                           MODULE-2
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/19ZlltKbPkLXL5hITDs9TJN6mZXQQSfV4/view?usp=sharing" download>Download</a><br>
                                    
                                            <a href="https://drive.google.com/file/d/19ZlltKbPkLXL5hITDs9TJN6mZXQQSfV4/view?usp=sharing"> view</a><br>
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                            
                                        </td>
                                        <td>
                                           MODULE-3
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/14y0HJMyNTA3DOt1B4V_tGRgdkySNX9Gz/view?usp=sharing" download>Download</a><br>
                                            
                                            <a href="https://drive.google.com/file/d/14y0HJMyNTA3DOt1B4V_tGRgdkySNX9Gz/view?usp=sharing"> view</a><br>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                            
                                        </td>
                                        <td>
                                           MODULE-4
                                        </td>
                                       
                                        <td>
                                            <a href="" >Download</a><br>
                                        
                                            <a href=""> view</a><br>
                                            <small>not updated</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                            
                                        </td>
                                        <td>
                                          MODULE-5
                                        </td>
                                       
                                        <td>
                                            <a href="" >Download</a><br>
                                
                                            <a href=""> view</a><br>
                                            <small>not updated</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                            
                                        </td>
                                    

                                    <td>
                                        TEXTBOOK
                                     </td>
                                    
                                     <td>
                                         <a href="https://drive.google.com/file/d/1UttQZhSIoZAW-Jm7T26oiWQyTjVkgFCN/view?usp=sharing" download>Download</a><br>
                                     
                                         <a href="https://drive.google.com/file/d/1UttQZhSIoZAW-Jm7T26oiWQyTjVkgFCN/view?usp=sharing"> view</a>
                                         
                                     </td>
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                     
                        
                        <div class="box-header with-border" id="cc" >
                            <h5><u><b>CLOUD COMPUTING(18CS64)</b></u></h5>
                        </div>
                        <div class="form-group">
                        
                        
                            
                    
                    
                    
                    
                    
                    <table class="table table-bordered table-striped dataTable" id="statustable">
                                   <thead>
                                     <tr>                    
                                        <th>Sl.No.</th>
                                        
                                        
                                        <th>MODULE</th>
                                        <th>Action</th>
                                       
                                     </tr>
                                   </thead>
                                   <tbody>
                                    
                                    
                                    <tr>
                                        <td>
                                            1
                                            
                                        </td>
                                        <td>
                                           MODULE-1
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/10YwbYbFhf9iPcBMucF0mwnpYFTtmE8iN/view?usp=sharing" download>Download</a><br>
                                        
                                            <a href="https://drive.google.com/file/d/10YwbYbFhf9iPcBMucF0mwnpYFTtmE8iN/view?usp=sharing"> view</a><br>
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                            
                                        </td>
                                        <td>
                                           MODULE-2
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1zVvlflj7eePlF-NHxf_tnR6KL4UEAuHm/view?usp=sharing" >Download</a><br>
                                            
                                            <a href="https://drive.google.com/file/d/1zVvlflj7eePlF-NHxf_tnR6KL4UEAuHm/view?usp=sharing"> view</a><br>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                            
                                        </td>
                                        <td>
                                           MODULE-3
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1HH5FLiUvI85cvp-e1bU5GRJ0DzG1-sYh/view?usp=sharing" >Download</a><br>
                                            
                                            <a href="https://drive.google.com/file/d/1HH5FLiUvI85cvp-e1bU5GRJ0DzG1-sYh/view?usp=sharing"> view</a><br>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                            
                                        </td>
                                        <td>
                                           MODULE-4
                                        </td>
                                       
                                        <td>
                                            <a href="" >Download</a><br>
                                        
                                            <a href=""> view</a><br>
                                            <small>not updated</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                            
                                        </td>
                                        <td>
                                          MODULE-5
                                        </td>
                                       
                                        <td>
                                            <a href="downloadAttachFile.do?fileName=EmploymentCertificate.pdf&serviceId=10940020&OWASP_CSRFTOKEN=ESLB-OKOG-PE9E-QQ04-E5V6-WV27-CYMI-CD9Q" >Download</a><br>
                                            
                                            <a href=""> view</a><br>
                                            <small>not updated</small>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            6
                                            
                                        </td>
                                        <td>
                                           ALL-5-MODULE
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1bS91sfYYKlCxUrRtjkJzxeNuffvV29Ao/view?usp=sharing" download>Download</a><br>
                                        
                                            <a href="https://drive.google.com/file/d/1bS91sfYYKlCxUrRtjkJzxeNuffvV29Ao/view?usp=sharing"> view</a>
                                            
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>

                        

                           
                        <div class="box-header with-border" id="res" >
                            <h5><b><u>RENEWABLE ENERGY RESOURCES(18CS65)</u></b></h5>
                        </div>
                        <div class="form-group">
                        
                        
                            
                    
                    
                    
                    
                    
                    <table class="table table-bordered table-striped dataTable" id="statustable">
                                   <thead>
                                     <tr>                    
                                        <th>Sl.No.</th>
                                        
                                        
                                        <th>MODULE</th>
                                        <th>Action</th>
                                       
                                     </tr>
                                   </thead>
                                   <tbody>
                                    
                                    
                                    <tr>
                                        <td>
                                            1
                                            
                                        </td>
                                        <td>
                                           MODULE-1
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1VcQtGiBWns_3pgW_aPQ1nu7tBGs-4kJP/view?usp=sharing" download>Download</a><br>
                                            
                                            <a href="https://drive.google.com/file/d/1VcQtGiBWns_3pgW_aPQ1nu7tBGs-4kJP/view?usp=sharing"> view</a><br>
                                    
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                            
                                        </td>
                                        <td>
                                           MODULE-2
                                        </td>
                                       
                                        <td>
                                            <a href="/static/images/Module 2- Solar Thermal Energy Collectors & Solar Cells -RR (1).pdf" download>Download</a><br>
                                        
                                            <a href="https://drive.google.com/file/d/1VcQtGiBWns_3pgW_aPQ1nu7tBGs-4kJP/view?usp=sharing"> view</a><br>
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                            
                                        </td>
                                        <td>
                                           MODULE-3
                                        </td>
                                       
                                        <td>
                                            <a href="https://drive.google.com/file/d/1Qf-RcO4qNvMpHPW58nKChK50Gq9nRsKm/view?usp=sharing" download >Download</a><br>
                                        
                                            <a href="https://drive.google.com/file/d/1Qf-RcO4qNvMpHPW58nKChK50Gq9nRsKm/view?usp=sharing"> view</a><br>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                            
                                        </td>
                                        <td>
                                           MODULE-4
                                        </td>
                                       
                                        <td>
                                            <a href="downloadAttachFile.do?fileName=EmploymentCertificate.pdf&serviceId=10940020&OWASP_CSRFTOKEN=ESLB-OKOG-PE9E-QQ04-E5V6-WV27-CYMI-CD9Q" >Download</a><br>
                                            
                                            <a href=""> view</a><br>
                                            <small>not updated</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                            
                                        </td>
                                        <td>
                                          MODULE-5
                                        </td>
                                       
                                        <td>
                                            <a href="downloadAttachFile.do?fileName=EmploymentCertificate.pdf&serviceId=10940020&OWASP_CSRFTOKEN=ESLB-OKOG-PE9E-QQ04-E5V6-WV27-CYMI-CD9Q" >Download</a><br>
                                        
                                            <a href=""> view</a><br>
                                            <small>not updated</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                            
                                        </td>
                                    
                                    <td>
                                        TEXTBOOK
                                     </td>
                                    
                                     <td>
                                         <a href="https://drive.google.com/file/d/1vPb2VzgGZ2Os5MNswaDT-eKSyv7aHlw2/view?usp=sharing" download>Download</a><br>
                                     
                                         <a href="https://drive.google.com/file/d/1vPb2VzgGZ2Os5MNswaDT-eKSyv7aHlw2/view?usp=sharing"> view</a>
                                         
                                     </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        

                        <style>
                            table, td, th {
                              border: 1px solid black;
                              text-align: center;
                            }
                            
                            table {
                              width: 100%;
                              border-collapse: collapse;
                            }
                            </style>




{% endblock body %}