{% extends 'basic.html' %}
{% block title %}
Question-Papers
{% endblock title %}
{% block body  %}

{% load static %}

<div class="container mt-3" style=" align-items: center;border: solid 2px black;padding-top: 5px;padding-bottom: 5px;border-radius: 8px; text-align: center;text-shadow: 0 0 3px #FF0000;background-color: chartreuse;">

    <marquee ><h3 style="color: blue;">RESOURCE COLLECTION IS UNDER PROGRESS ,WILL UPDATE SOON.....</h3></marquee>
    
    
    </div>




















   
{% endblock body %}